html, body {
    overflow-x: hidden;
    background-color: #b4b4b7;
}

div#app {
    text-align: center;
    align-content: center;
    display: flex;
    flex-direction: row;
    
}

body {
    text-align: center;
    position: relative
}

div {

}

a {
    text-decoration: underline;
    cursor: pointer;
}

textarea,
input[type="text"], input[type="email"], input[type="phone"], input[type="number"], input[type="password"], button {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    border-width: 0;
    -webkit-box-shadow: none;
    box-shadow: none;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    caret-color: black;
}

textarea {
    font-family: inherit;
    font-size: inherit;
 }

.border-menu {
    position: relative;
    padding-left: 1.25em;
  }
.border-menu:before {
    content: "";
    position: absolute;
    top: 0.25em;
    left: 0;
    width: 1em;
    height: 0.125em;
    border-top: 0.375em double #000;
    border-bottom: 0.125em solid #000;
}

button {
    background-color: cornflowerblue;
}

pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
   }